streamlit==1.45.1
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.63
langchain-huggingface==0.2.0
langchain-groq==0.3.2
langgraph==0.4.7
ctransformers
docarray==0.41.0
faiss_cpu==1.11.0
sentence_transformers==4.1.0
pypdf==5.5.0
rapidocr_onnxruntime==1.4.4